body {
  margin: 0;
}
.login_main {
  margin: 0;
  display: flex;
  flex-direction: row;
  column-gap: 163px;
  background: #fafafa 0% 0% no-repeat padding-box;
  padding: 72px;

}
.login_img_div {
  width: 50%;
  min-width: 300px;
  max-width: 100%;
  height: 536px;
  background: transparent url("../images/hero-image.png") 0% 0% no-repeat
  padding-box;
  border: 20px solid #fff;
  box-shadow: 0px 4px 31px #0000000a;
  border-radius: 50%;
  margin: 0 0 0 94px;
}
.login_details {
  width: 50%;
  margin-top: 44px;
}

.login_comp {
}

.login_comp_img {
  width: 272px;
  height: 58px;
}

.login_tagline {
  text-align: left;
  font: normal normal 300 40px/47px Roboto;
  letter-spacing: 0px;
  color: #3e3e3e;
  opacity: 1;
  font-size: 40px;
  margin: 19px 0 8px 0;
}
.login_form {
  display: flex;
  flex-direction: column;
  width: 429px;
}
.login_form input {
  font-size: 15px;
  color: #adadad;
  font: normal normal normal 15px/20px Roboto;
  letter-spacing: 0px;
  opacity: 1;
  border: 1px solid #adadad;
  padding: 14px;
  border-radius: 5px;
  margin-bottom: 27px;
}
.login_form_title {
  margin: 23px;
  margin-left: 0;
  text-align: left;
  font-size: 25px;
  font: normal normal normal 25px/33px Roboto;
  letter-spacing: 0px;
  color: #3e3e3e;
  opacity: 1;
}

.login_button_div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.login_button {
  width: 138px;
  height: 45px;
  background: #c8242f 0% 0% no-repeat padding-box;
  border-radius: 23px;
  border: none;
  opacity: 1;
  font: normal normal medium 18px/24px Roboto;
  color: #fff;
  letter-spacing: 0px;
  margin-top: 4px;
}
.login_forget {
  text-align: left;
  font: normal normal normal 15px/20px Roboto;
  letter-spacing: 0px;
  color: #adadad;
  opacity: 1;
}

.register {
  text-align: left;
  font: normal normal normal 15px/20px Roboto;
  letter-spacing: 0px;
  color: #adadad;
  margin-top: 24px;
}
