body {
  margin: 0;

--bs-border-color:#adadad;
--bs-body-color:#adadad;}
.container {
  margin: 0;
  padding: 0;
  width: 100%;
}
.login_main {
  margin: 0;
  background: #fafafa 0% 0% no-repeat padding-box;
  padding: 4.5rem;
  margin: 0;
}
.login_img_div {
  padding: 0 4.25rem;
  align-self: center;
}
.login_img {
  max-width: 100%;
  border: 20px solid #fff;
  box-shadow: 0px 4px 31px #0000000a;
  border-radius: 50%;
  margin: 0;
}
.login_details {
  margin: 0;
  margin-top: 2.125rem;
  padding: 0 5.15rem;
  text-align: left;
}

.login_comp_img {
  width: 17rem;
  height: 3.625rem;
}

.login_tagline {
  line-height: 3rem;
  font: normal normal 300 40px/47px Roboto;
  letter-spacing: 0px;
  color: #3e3e3e;
  opacity: 1;
  font-size: 2.5rem;
  margin: 21px 0 8px 0;
}
.login_form {
  display: flex;
  flex-direction: column;
  margin-right: 4.5rem;
}
.login_form input {
  font-size: 15px;
  color: #adadad;
  font: normal normal normal 15px/20px Roboto;
  letter-spacing: 0px;
  opacity: 1;
  border: 1px solid #adadad;
  padding: 14px;
  border-radius: 5px;
  margin-bottom: 27px;
}
.login_form_title {
  margin: 1.4rem 0;
  font-size: 1.5rem;
  font: normal normal normal 25px/33px Roboto;
  letter-spacing: 0px;
  color: #3e3e3e;
  opacity: 1;
}

.login_button_div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.login_button {
  width: 8.6rem;
  height: 2.8rem;
  background: #c8242f 0% 0% no-repeat padding-box;
  border-radius: 23px;
  border: none;
  opacity: 1;
  font: normal normal medium 18px/24px Roboto;
  color: #fff;
  letter-spacing: 0px;
  margin-top: 4px;
}
.login_forget {
  text-align: left;
  font: normal normal normal 15px/20px Roboto;
  letter-spacing: 0px;
  color: #adadad;
  opacity: 1;
  margin-top: 1rem;
}

.register {
  text-align: left;
  font: normal normal normal 15px/20px Roboto;
  letter-spacing: 0px;
  color: #adadad;
  margin-top: 24px;
  /* width: 100%; */
}
.hiddenbutton {
  display: block;
}


@media only screen and (max-width: 1260px) {

.login_main{padding: 20px;}

.login_details {
  padding: 0 30px;
}

.login_tagline{
  font-size: 2rem;
}




}
@media only screen and (max-width: 960px) {
  html {
    font-size: 75%;
  }
  .login_main {
    padding: 30px;
  }
  .login_img_div {
    padding: 0;
  }
  .login_details {
    padding: 0 30px;
  }
  .login_form {
    margin-right: 0;
  }
  .login_form input {
    min-width: 300px;
  }
}

@media only screen and (max-width: 768px) {
  .login_main {
    padding: 60px;
  }
  .login_img_div {
    padding: 0;
  }
  .login_details {
    padding: 0 20px;
    margin-top: 4rem;
    text-align: center;
  }
  .login_form {
    margin-right: 0;
    align-items: center;
  }
  .login_form input {
    min-width: 300px;
  }

  .login_button_div {
    flex-direction: column;
  }

  .register {
    text-align: center;
  }
}

@media only screen and (max-width: 560px) {
  html {
    font-size: 80%;
  }
  .login_main {
    padding: 30px;
  }
  .login_form input {
    width: 100%;
  }
}

/* Dashboard */

.offcanvas.offcanvas-start {
  width: auto !important;
  padding: 10px;
}
.offcanvas-body {
  padding: 10px 20px;
}
.menu-btn {
  display: none;
}
.menu-btn:focus {
  border: none;
}

@media only screen and (max-width: 990px) {
  .menu-btn {
    display: inline !important;
  }
  .menu-btn-desktop {
    display: none;
  }
  .logo {
    width: 6rem;
    height: 7rem;
  }
  .desktop {
    display: none;
  }
}

@media only screen and (max-width: 410px) {
  .search-icon {
    display: none;
  }
  .profile {
    width: 25px;
    height: 25px;
  }
}

.icon {
  width: 1.2rem;
  height: 1.2rem;
}
.items {
  text-align: left;

  font-family: Roboto;
  line-height: 1.3rem;
  letter-spacing: 0px;
  color: #3e3e3e;
  border: none;
  margin-bottom: 1rem;
}
.activelink {
  background: #fff3f4 0% 0% no-repeat padding-box;
  border-radius: 5px;
  color: #c8242f;
}
.d-name {
  font-size: 1.875rem;
  line-height: 2.43rem;
  color: #000000;
  font-weight: 700;
  font-family: Roboto;
  margin-bottom: 23px;
}
.product {
  width: 2.75rem;
  height: 2.75rem;
  height: 100%;
  margin: 0;
}
.numbers {
  font-size: 1.563rem;
  margin: 0;
  padding: 0;
  font-weight: 650;
}
.table-heading {
  color: #adadad;
  font-size: 0.9rem;
  line-height: 1.25rem;
  letter-spacing: 1.5px;
  font-weight: normal;
  font-family: Roboto;
}
.table td {
  padding: 0.75rem 0.5rem;
  font-size: 0.9rem;
  line-height: 1.25rem;
  color: #3e3e3e;
  
}
.tableslide{
  overflow-x: scroll !important;
}

.paid {
  background: #ebffef 0% 0% no-repeat padding-box !important;
  color: #3cdd5f !important;
  text-align: center;
  padding: 5px 10px;
  border-radius: 5px;
}
.pending {
  background: #f8f8f8 0% 0% no-repeat padding-box !important;
  color: #bababa !important;
  text-align: center;
  padding: 5px 10px;
  border-radius: 5px;
}
.failed {
  background: #fff5f5 0% 0% no-repeat padding-box !important;
  color: #ff4545 !important;
  text-align: center;
  padding: 5px 10px;
  border-radius: 5px;
}
.b-head {
  font-size: 1.375rem;
  line-height: 1.8rem;
  color: #3e3e3e;
  font-family: Roboto;
}
.red {
  color: #c8242f;
  font-size: 12px;
  line-height: 16px;
}
.dot {
  height: 1.125rem;
  width: 1.125rem;
  border-radius: 50%;
  background-color: #c8242f;
  display: inline-block;
  margin-right: 0.5rem;
  vertical-align: middle;
}
.country {
  font-size: 1.125rem;
  line-height: 1.25rem;
}

/* innerpage */
.form-head {
  font-size: 22px;
  line-height: 29px;
  color: #3e3e3e;
}
.sub-head {
  font-size: 18px;
  line-height: 24px;
  color: #3e3e3e;
  margin: 21px 0 15px 0;
}
.message {
  border: 1px solid #ff3535;
  border-radius: 5px;
  color: #ff3535;
}

.nav-link.active {
  color: #c8242f;
  border: none;
  border-bottom: 3px solid #c8242f !important;

  color: #c8242f !important;
  background-color: none !important;
}
.nav-link {
  border: none !important;
  color: #adadad;
  font-size: 15px;
  font-weight: 550;
}
.nav-link:hover{
outline: none !important;
color: #adadad;
}

input {
  border: none;
  width: 100%;
}
::placeholder{
  color: #adadad !important;
}
input:focus,
textarea:focus,
select:focus {
  outline: none;
  border-color: #c8242f;
}
.form-check-input:checked {
  background-color: #c8242f;
  border-color: #c8242f;
}




.disabled {
  border: 1px dashed #adadad !important;
}
.filelabel {
  border: 1px solid #c8242f;
  border-radius: 18px;
  color: #c8242f;
  padding: 0.5rem 1.5rem;
  margin-right: 20px;
}
#filechosed {
  font-size: 12px;
  line-height: 16px;
  color: #adadad;
}

.form-check-input:checked[type=radio] {
  background-color: #fff;
  background-image: url(../images/radio-checked-icon.svg) !important;
}

.btn-danger:hover {
  background-color: #fafafa;
  color: #c8242f;
}

.dropdown{
  position: relative;
  color: #000000;


}
.arrow{
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
}


.inputContainer {
  position: relative;
  width: 100%;
  height: 39px;
  
}

.input4 {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  border: 1px solid #DADCE0;
  border-radius: 5px;
  font-size: 16px;
  padding: 0 20px;
  outline: none;
  background: none;
  z-index: 1;
}

/* Hide the placeholder texts (a) */

.four input::placeholder {
  color: transparent !important;
}

.label4 {
  position: absolute;
  top: 10px;
  left: 15px;
  padding: 0 4px;
  background-color: white;
  color: #DADCE0;
  font-size: 12px;
  transition: 0.5s;
  z-index: 0;
}

.input4:focus + .label4 {
  top: -7px;
  left: 7px;
  z-index: 10;
  font-weight: 600;
  color: #ff3b3b;
}
.input4:focus{
  border: 1px solid #ff3b3b;
}


.warnings{
  font-size: 12px !important;
  padding-left: 15px;
}




.table th{
  display: none;
}
.table td{
  display: block;
}
.table td::before{
  content: attr(data-th);
  width: 40%;
  display: inline-block;
  color: #adadad;
  font-size: 0.9rem;
  line-height: 1.25rem;
  letter-spacing: 1.5px;
  font-weight: normal;
  font-family: Roboto;
  
}
.table th, .table td{
  text-align: left;
}
@MEDIA SCREEN AND (max-width:650px){
.table tr:nth-child(odd) {
background-color: #faf6f6 !important;

}}

@media screen and (min-width:650px) {
  .table td::before{
          display: none;

  }
  .table th, .table td{
          display: table-cell;
          /* padding: 0.25rem 0.5rem; */
  }
}
